.rent-info-container {
    gap: 2rem;
}

.info-info {
    display: flex;
    text-align: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.center-button {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

@media screen and (max-width: 400px) {
    .info-info > div {
        flex-basis: 100%;
    }

    .rent-info-container {
        width: 100%;
    }

    /* .rent-info-container .info-info {
        justify-content: center;
    } */
}


@media screen and (max-width: 700px) {
    .rent-info-container {
        width: 70%;
    }

    /* .rent-info-container .info-info {
        justify-content: center;
    } */
}

@media screen and (max-width: 1024px) {
    /* .rent-info-container {
        width: 50%;
    } */
}

