.info-container {
    flex-direction: row;
    gap: 2rem;
}

.photo-container {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    height: 50%;
    width: 50%;
  }
  
.photo {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
  }

.info-and-buttons {
    width: 30%;
    gap: 2rem;
}

.info-text {
    text-align: center;
}

@media screen and (max-width: 900px) {
    .info-container {
        flex-direction: column;
    }

    .photo-container {
        height: 70%;
        width: 70%;
    }
}

@media screen and (max-width: 400px) {
    .info-container {
        flex-direction: column;
        gap: 5rem
    }

    .info-text {
        margin: 2rem 0 2rem 0;
    }

    .photo-container {
        height: 100%;
        width: 100%;
    }
}