.input-container {
    display: flex;
    align-items: center;
    width: 60%;
    max-width: 100px;
    min-width: 20rem;
    border: 2px solid var(--grey-400);
    border-radius: 15px;
}

.input-icon {
    height: 15%;
    width: 15%;
    padding: var(--m-1);
}

.input {
    flex: 1;
    background: none;
    outline: none;
    border: none;
    border-bottom: none;
    border-radius: 15px;
    font-size: 1.1rem;
    padding: var(--m-1);
}

.input-text-primary {
    background-color: inherit;
    border: 1.5px solid white;
}

.textarea {
    padding: 0.5rem;
    width: 100%;
    max-width: 400px;
    border-radius: 1rem;
    color: var(--white-black);
    font-size: 1.2rem;
    outline: none;
}

#car-preview {
    text-align: center;
}

#car-preview img {
    max-width: 100px;
    max-height: 100px;
    margin: 5px;
}

#car-preview-photos {
    text-align: center;
}

#car-preview-photos img {
    max-width: 100px;
    max-height: 100px;
    margin: 5px;
}


.input:hover,
.input:focus {
    border-bottom: none;
}

.input-container:hover,
.input-container:focus-within {
    border: 2px solid var(--black);
}